BASE_RPC_URL
NEXT_PUBLIC_BUILDER_CODE
NEXT_PUBLIC_BASE_APP_ID
NEXT_PUBLIC_BASE_RPC_URL
NEXT_PUBLIC_APP_URL

NEXT_PUBLIC_SCOREBOARD_ADDRESS
LEADERBOARD_MAX_ROLLOVER_WEEKS

UPSTASH_REDIS_REST_URL
UPSTASH_REDIS_REST_TOKEN

CDP_PAYMASTER_URL
NEXT_PUBLIC_PAYMASTER_PROXY_SERVER_URL

CRON_SECRET
